<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>后台管理系统</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="../css/main.css" rel="stylesheet" type="text/css"/>
  <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="../css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
  <script src="../js/jquery-1.8.1.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
</head>
<body>
<h2><a href="/admin/show">展示页</a></h2>
<!-- table -->
<table class="table table-bordered table-hover table-condensed">
  <thead>
  <tr>
    <th>编号</th>
    <th>商品名称</th>
    <th>商品价格</th>
    <th>商品数量</th>
    <th>商品logo</th>
    <th>添加时间</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  {foreach($data as $v)}
  <tr class="success">
    <td>{$v['id']}</td>
    <td><a href="javascript:void(0);">宏辉果蔬 苹果 烟台红富士 12枚75mm 单果约170-190g 总重4.2斤</a></td>
    <td>23.90</td>
    <td>100</td>
    <td><img src="img/goods01_thumb.jpg"></td>
    <td>2017-04-01 08:00:00</td>
    <td>
      <a href="javascript:void(0);"> 编辑 </a>
      <a href="/admin/upOnly?id={$v['id']}" onclick="if(confirm('确认删除？')) location.href='show'"> 恢复 </a>
    </td>
  </tr>
  {/foreach}
  </tbody>
</table>
<!-- pagination -->
<div class="pagination">
  <ul>
    <li><a href="#">Prev</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>
</div>

<!-- footer -->
<footer>
  <hr>
  <p>© 2017 <a href="javascript:void(0);" target="_blank">ADMIN</a></p>
</footer>
</div>
</body>
</html>